/*
 Name: Andrew Siew
 Date: 4/21/2018
 Section: AI
 TA : Jeremy;
 Assignment : HW 4
 A css file for fifteen.html that handles most of the style of the fifteen
 puzzle game.

*/

@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

body {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 14pt;
	text-align: center;
}

p, div {
	display: block;
}

p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#puzzle-area, body {
	flex-direction: column;
}

#puzzle-area, .container, .border, body {
	display: flex;
}

.container, body, .border {
	justify-content: center;
}

#empty {
	width: 100px;
	height: 100px;
}

.border, body, #puzzle-area {
	align-items: center;
}

.border {
	border-color: black;
	border-style: solid;
	border-width: 5px;
	font-size: 40pt;
	width: 90px;
	height: 90px;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
}

.movable:hover {
	border-color: red;
	color: red;
	cursor: pointer;
}



